@{
    ViewData["Title"] = "Bienvenida - Softfy";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <!-- Google Fonts: Advent Pro -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Advent+Pro:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <section class="hero text-center pt-4 pb-2" style="margin-top: 30px;">
        <div class="waveform">
            <img src="~/images/SoftfyLogo.png" alt="Softfy Waveform" class="img-fluid" style="max-width: 625px;" />
            <p class="fs-4">Your musical world starts here</p>
        </div>
    </section>
</body>

</html>
