@{
    ViewData["Title"] = "Bienvenida - Softfy";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <section class="hero text-center pt-4 pb-2" style="margin-top: 30px;">
        <div class="waveform">
            <img src="~/images/SoftfyLogo.png" alt="Softfy Waveform" class="img-fluid" style="max-width: 625px;" />
            <p class="fs-4">Your musical world starts here</p>
        </div>
    </section>

    <!-- Mostrar el mensaje si está disponible -->
    @if (ViewBag.Message != null)
    {
        <div class="alert alert-info mt-3">
            @ViewBag.Message
        </div>
    }
</body>
</html>
