@model IEnumerable<SoftfyWeb.Modelos.Dtos.PlaylistDto>
@{
    ViewData["Title"] = "Albumes del Artista";
    var email = ViewBag.Email as string ?? "Artista";
}

<h2>@ViewData["Title"]</h2>

@if (!Model.Any())
{
    <div class="alert alert-warning mt-4">
        No se encontraron playlists asociadas a este usuario.
    </div>
}
else
{
    <table class="table table-bordered mt-3">
        <thead class="table-light">
            <tr>
                <th>Nombre</th>
                <th>Total Canciones</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var playlist in Model)
            {
                <tr>
                    <td>@playlist.Nombre</td>
                    <td>@playlist.TotalCanciones</td>
                    <td>
                        <a asp-action="CancionesPublicasPorArtistaPlaylist" asp-route-id="@playlist.Id" class="btn btn-sm btn-info">Ver Canciones</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}