@{
    ViewData["Title"] = "Bienvenido, Artista";
}

<h1>Bienvenido, @ViewBag.ArtistaNombre</h1>

<p>¡Gracias por ser parte de nuestra comunidad de artistas! Desde aquí podrás gestionar y subir tus canciones.</p>

<p>
    <a asp-controller="VistasCanciones" asp-action="CrearCancion" class="btn btn-primary">
        Subir Canción
    </a>
</p>
